@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  }
html {
  height: 100%;
  background-color: #F2F2F2;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main-container {
  flex-grow: 1;
}
.button{
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  border:none;
}
.btn-brown {
  background: #756257;
}
.btn-blue{
  background: #83B3D3;
}
input[type="button"],
button{
  cursor: pointer;
}
.section-title,
.modal-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 31px;
}
.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.navigation {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 30px;
}
.navigation-list {
  display:grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
}
.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 0 17px;
}
.navigation-user {
  max-width:264px;
}
.navigation-user .navigation-link{
  min-height: 66px;
  min-width: 42px;
  padding: 0;
}
.navigation-user .navigation-item:last-child {
  margin-left: 20px;
}
.navigation-item {
  position: relative;
}
.page-header {
  margin: 0 70px;
}
.navigation-icon,
.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.navigation-logo {
  width: 139px;
  position: relative;
  margin-bottom: -10px;
}
.navigation-btn {
  padding: 9px 34px;
}

/* Преимущества */
.advantages .section-description {
  line-height: 36px;
  margin-bottom: 80px;
}
.slogan {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}
.advantages .section-title {
  margin-top: 63px;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.advantage-item-large {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}
.advantage-item-wrapper {
  color:#FFFFFF;
  background-color: #83B3D3;
  display:grid;
  gap: 30px;
  padding: 98px 90px 87px;
  justify-items: center;
}
.advantage-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}
.advantage-list-inner {
  display: grid;
  grid-template-columns: repeat(3, 400px);
}
.advantage-item-inner {
  display:grid;
  gap: 20px;
  padding: 184px 75px 87px;
}
.advantage-item {
  display:grid;
  gap: 30px;
  padding: 98px 80px 104px;
  justify-items: center;
}
.advantages-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.advantage-item-wrapper > .advantages-title {
  color:white;
}
.advantage-item:nth-child(odd),
.advantage-item-inner:nth-child(odd){
  background: rgba(131, 179, 211, 0.12);
}
.advantage-item:nth-last-child(2){
  background: rgba(131, 179, 211, 0.2);
}
.advantages-text {
  line-height: 21px;
}
.advantages-img {
  display: block;
  grid-column: span 2;
  object-fit: cover;
}
.advantages {
  background: url(img/indexbackground.jpg) top no-repeat;
}
.advantage-item-inner:first-child{
  background-image: url('img/icon/house.svg');
  background-repeat: no-repeat;
  background-position: left 163px top 89px;
}
.advantage-item-inner:nth-child(2){
  background-image: url('img/icon/burger.svg');
  background-repeat: no-repeat;
  background-position: left 163px top 91px;
}
.advantage-item-inner:nth-child(3){
  background-image: url('img/icon/gift.svg');
  background-repeat: no-repeat;
  background-position: left 168px top 85px;
}
.search-button{
  font-size: 20px;
  line-height: 36px;
  display: block;
  margin: 0 auto;
  width: 575px;
  padding-top: 14px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.booking {
  padding: 92px 0;
}
.booking .section-description {
  margin-bottom: 56px;
}
.subscribe-inner .section-description {
  color:#333333
}
.subscribe-inner .section-title {
  margin-bottom: 46px;
}
.subscribe-inner input[type="email"]{
  background: #F2F2F2;
  border-radius: 0px 10px 10px 0px;
}
.subscribe-inner {
  padding-bottom: 141px;
}
.subscribe-main {
  background-image: url(img/backgroundfooter.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  color: #ffffff;
  padding: 94px;
}
.subscribe-main .section-title {
  color: #ffffff;
}
.subscribe .section-description {
  margin-bottom: 46px;
}
.subscribe-form {
  display: flex;
  margin: 0 auto;
  width: 800px;
}
.subscribe-form input[type="email"] {
  flex-grow: 1;
  padding-left: 22px;
  border:none;
  outline: none;
  border-radius: 10px 0px 0px 10px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
}
.subscribe-form input[type="email"]:focus,
.modal-close-button:focus,
.field:focus {
  outline: 3px solid #83B3D3;
}
.subscribe-form input[type="email"]:hover,
.modal-close-button:hover,
.field:hover {
  background-color: #E6E6E6;
}
.subscribe-form input[type="submit"] {
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  padding: 16px 0;
  font-stretch: condensed;
}
.footer-contacts {
  display: grid;
  grid-template-columns: max-content 720px max-content;
  padding: 32px 62px;
  gap: 50px;
  justify-items: center;
  align-items:center;
}
.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social-item {
  position: relative;
}
.social-link {
  fill: #83B3D3;
  padding: 10px;
  display: inline-block;
  width: 22px;
  height: 20px;
}
.social-item:last-child {
  margin-right: 0;
}
.footer-contacts-phone{
  text-decoration:none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-style: normal;
  padding: 15px;
}
.htmlacademy-link {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  padding-left: 5px;
}
.search-wrapper {
  background: url(img/catalog/catalogbackground.jpg) no-repeat;
  background-color:#756257;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 47px;
}
.inner-header-title {
  font-size: 60px;
  line-height: 65px;
}
.inner-header {
  padding-top:40px;
  padding-bottom: 46px;
  width: 1057px;
  margin: 0 auto;
}
.breadcrumbs {
  display: flex;
}
.breadcrumbs-item {
  margin-right: 14px;
  position: relative;
}
.breadcrumbs-item:first-child::after{
  content:'';
  position: absolute;
  width: 5px;
  height: 8px;
  left: 27px;
  top: 8px;
  background-image: url('img/icon/nav-link 1.svg');
}
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color:#FFFFFF;
  padding: 0px 5px;
}
.breadcrumbs-home{
  fill: #ffffff;
}
/* Фильтр отелей */
.hotels-filter-title {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 30px;
}
.hotel-filter-price .hotels-filter-title {
  padding-bottom: 35px;
}
.hotel-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 13px;
}
.hotel-filter-item:last-child {
  margin-bottom: 0;
}
.control {
  position: relative;
  display: block;
  padding-left: 42px;
}
.control-mark {
  position: absolute;
  top: 0;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255);
  border-radius: 4px;
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 4px;
  left: 3px;
  width: 12.2px;
  height: 9.9px;
  background-image: url(img/icon/checkbox.svg) ;
  content: "";
}
.control-input:hover + .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}
.control-input:active + .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}
.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}
.catalog-filter-input {
  background:transparent;
  outline: none;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  font-family: inherit;
}
.hotels-filter-form {
  display: grid;
  gap: 16px;
  grid-template-columns: 200px 200px 1fr 160px;
}
.hotel-filter-group {
  border:none;
}
.hotel-filter-price {
  margin-left: 96px;
}
.wrapper-range-inputs {
  display: grid;
  grid-template-columns: 144px 144px;
  margin-bottom: 28px;
}
.catalog-filter-label {
  display: grid;
  grid-template-columns: 98px 47px;
}
.catalog-filter-input {
  grid-column: 1/-1;
  z-index: 1;
  grid-row: -1;
  padding: 12px 47px 9px 18px;
}
.catalog-filter-label span {
  grid-column: 2/3;
  grid-row: -1;
  align-self: center;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  padding: 12px;
}
.range-scale {
  position: relative;
  height: 4px;
  background-color:rgba(255, 255, 255, 0.3);
  width: 287px;
}
.range-bar {
  position: absolute;
  background-color:#FFFFFF;
  width: 227px;
  height: 4px;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: none;
}
.range-toggle:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.range-toggle:focus {
  border: 3px solid #83B3D3;
  outline:none;
}
.range-toggle:active {
  border: 2px solid #83B3D3;
  outline:none;
}
.toggle-min {
  top: -8px;
  left: 0;
}
.toggle-max {
  top: -8px;
  right: -10px;
}
.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button,
.search-form-count::-webkit-outer-spin-button,
.search-form-count::-webkit-inner-spin-button  {
  appearance: none;
}
.button-filter {
  padding: 13px 38px;
  font-stretch: condensed;
  margin-top: 61px;
  margin-bottom: 19px;
}
.button-cancel {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background:none;
  border:none;
  margin: 0 35px;
}
.hotels-filter {
  padding-bottom: 83px;
  margin: 0 70px;
}
.sorting-hotels .section-title {
  line-height: 39px;
  padding-top: 5px;
}
.sorting-hotels {
  display: grid;
  grid-template-columns: 1fr 287px max-content;
  gap: 80px;
  align-items: start;
  justify-items: start;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 1057px;
}
.sorting {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}
.select {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
.select-button {
  padding: 10px 18px;
  width: 283px;
  padding-right: 0;
  box-sizing:border-box;
  display:grid;
  grid-template-columns: auto 50px;
}
.select-button::after{
  content: "";
  background-image: url(img/icon/variant=arrow.svg);
  background-repeat:no-repeat;
  background-position: 50% 50%;
}
.select[open] .select-button::after{
  transform: rotate(180deg);
}
.select-menu {
  position: absolute;
  padding: 12px 0;
  right:0;
  top: 100%;
  width: 100%;
  box-sizing:border-box;
  background-color:#FFFFFF;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
.select-option {
  text-decoration: none;
  display: block;
  padding: 10px 0;
  padding-left: 19px;
  color: #333333;
}
.select-option:hover{
  background-color: #F2F2F2;
}
.select-option-active {
  background-color: #E6E6E6;
}
.sorting-hotels-buttons {
  display: flex;
}
.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  box-sizing:border-box;
}
.sorting-hotels-buttons  .card-grid-toggle:last-child {
  margin-right: 0;
}
.hotels {
  width: 1057px;
  margin: 0 auto;
}
.hotels-list {
  padding-bottom: 30px;
  border-bottom: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 6px;
}
.hotel-item {
  padding: 20px;
  display: grid;
  grid-template-columns: 133px 140px;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  column-gap: 27px;
  row-gap: 15px;
  position: relative;
}
.hotel-card-link {
  text-decoration: none;
  grid-column: 1/-1;
}
.hotel-card-image {
  margin-bottom: 13px;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}
.hotel-card-type,
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  padding: 10px 33px;
  grid-column: 1/-1;
  justify-self: end;
  grid-row: 4/5;
}
.hotel-item .button {
  padding: 9px;
}
.hotel-card-chosen {
  background-color: #7DB54F;
}
.star {
  background-image: url(img/icon/star.svg);
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 23px 17px;
  width: 18px;
  height: 17px;
  grid-column: 1/-1;
  grid-row: 4/5;
}
.star-four {
  width: 91px;
}
.star-three {
  width: 70px;
}
.star-two {
  width: 45px;
}
.pagination-show-more {
  display: block;
  width: 620px;
  margin: 30px auto;
  padding: 16px 0;
}
.pagination-wrapper {
  display: grid;
  grid-template-columns: max-content 299px 386px;
  width: 1057px;
  border-top: 1px solid #E6E6E6;
  padding-top: 30px;
  padding-bottom: 73px;
}
.pagination {
  display: grid;
  grid-template-columns: repeat(6, 55px);
  gap: 8px;
}
.pagination-show-more,
.pagination-link {
  font-size: 20px;
  line-height: 26px;
}
.pagination-link {
  display: block;
  text-align: center;
  padding: 14px;
}
.pagination-current {
  background: #F2F2F2;
  border-radius: 4px;
  display: block;
  text-align: center;
  padding: 14px;
  font-size: 20px;
  line-height: 26px;
}
.show-hotels {
  line-height: 23px;
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 175px 160px;
  gap: 50px;
  align-items:center;
}
.show-hotels .select-button {
  width: 160px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.footer-contacts-phone:focus,
.htmlacademy-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  color: #756257;
}
.navigation-link:hover,
.htmlacademy-link:hover,
.footer-contacts-phone:hover {
  fill:#756257;
  color: #756257;
  outline: none;
}
.navigation-link:active,
.htmlacademy-link:active,
.footer-contacts-phone:active  {
  fill: #756257;
  opacity: 0.3;
  color: rgba(117, 98, 87);
  outline: none;
}
.navigation-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  padding: 20px 17px;
}
.navigation-link-current::before {
  content: '';
  background-color:#756257;
  position: absolute;
  right: 16px;
  top: 45px;
  left: 17px;
  height: 2px;
}
.btn-brown:focus{
  outline: 3px solid #83B3D3;
}
.btn-brown:hover {
  background-color: #615048;
  outline: none;
}
.btn-brown:active{
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.social-link:focus{
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}
.social-link:hover{
  fill: #68A2CA;
  outline: none;
}
.social-link:active {
  fill: #68A2CA;
  opacity: 0.3;
  outline: none;
}
.btn-blue:focus {
  outline: 3px solid #756257;
}
.button-filter:hover,
.btn-blue:hover {
  background-color: #68A2CA;
}
.button-filter:active,
.btn-blue:active  {
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}
.breadcrumbs-link:focus,
.button-cancel:focus,
.hotel-card-link:focus   {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}
.breadcrumbs-link:hover,
.button-cancel:hover,
.hotel-card-link:hover {
  opacity: 0.6;
}
.breadcrumbs-link:active,
.button-cancel:active,
.select:active,
.hotel-card-link:active  {
  opacity: 0.3;
}
.button-filter:focus {
  background-color: #68A2CA;
  outline: 3px solid #FFFFFF;
}
.select:hover,
.card-grid-toggle:hover,
.card-grid-toggle:focus {
  border: 2px solid #83B3D3;
  outline: none;
}
.card-grid-toggle:active{
  border: 2px solid #000000;
}
.hotel-card-favorite:hover,
.hotel-card-favorite:active {
  outline: 1px solid #756257;
}
.hotel-card-chosen:hover {
  background-color: #6C9E42;
}
.hotel-card-chosen:active {
  color: rgba(255, 255, 255, 0.3);
}
.hotel-card-chosen:focus {
  background-color: #6C9E42;
  outline: 3px solid #756257;
}
.modal-container {
  position: fixed;
  width: 100%;
  height:100%;
  top: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}
.modal {
  position: relative;
  margin: auto;
  padding: 62px 71px 67px;
  background-color: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: 715px;
  box-sizing:border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}
.modal-close-button {
  position: absolute;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius:50%;
  border:none;
  outline: none;
  fill: #000000;
  top: 54px;
  right: 70px;
}
.modal-close-button:active {
  fill: rgba(0, 0, 0, 0.3);
}
.modal-title {
  line-height: 40px;
  text-align: left;
  margin-bottom: 58px;
}
.search-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 50px 50px 60px;
  row-gap: 40px;
}
.search-form-date {
  grid-column: 1/-1;
}
.field-search {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 50px;
  column-gap: 15px;
  row-gap: 4px;
}
.field-message {
  grid-column: 2/-1;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
}
.field-message-error {
  color: #FF5757;
}
.search-form-amount {
  grid-row: 3/4;
}
.auth-form-button {
  grid-column: 1/-1;
}
.wrapper-field-count {
  display: grid;
  grid-template-columns: 50px 33px 50px;
}
.number-button {
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.field {
  border:none;
  background: #F2F2F2;
  border-radius: 4px;
  font-weight: 700;
  font-family: inherit;
  font-size: 18px;
  line-height: 40px;
  padding: 4px 20px;
  outline: none;
}
.search-form-count {
  border-radius: 0px;
  padding-left: 11px;
  outline: none;
  z-index: 1;
}
.number-button-plus {
  border-radius: 0 4px 4px 0;
}
.search-form-amount-kids {
  margin-left: 57px;
}
.search-form label,
.field-title-info label {
  align-self: center;
}
.number-button-minus .button-icon {
  padding: 9px 3px;
}
.button-icon {
  fill: #000000;
  opacity: 0.3;
  padding: 3px;
}
.number-button:hover .button-icon {
  opacity: 1;
}
.number-button:hover .button-icon {
  opacity: 1;
}
.number-button:focus .button-icon {
  border: 3px solid #83B3D3;
  border-radius: 4px;
}
.field-title-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.field-info {
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-left: 10px;
  background-color: #83B3D3;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(img/icon/modal/inf.svg);
}
.field-info-text {
  position: absolute;
  display: none;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 256px;
  height: 143px;
  color:#FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 22px;
  top: 40px;
  left: -115px;
  box-sizing: border-box;
}
.field-info-text::before {
  content:'';
  position: absolute;
  top: -9px;
  left: 118px;
  width: 19px;
  height: 9px;
  background-image: url(img/icon/modal/triangle.svg);
}
.field-info:hover .field-info-text{
  display:block
}
