@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
  background-color: #F2F2F2;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  min-height: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main-container {
  flex-grow: 1;
}
/* Общие стили для кнопок */
.button{
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  border:none;
}
.btn-brown {
  background: #756257;
}
.btn-blue{
  background: #83B3D3;
}
input[type="button"],
button{
  cursor: pointer;
}
/* Общие стили для заголовков и описаний */
.section-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 31px;
}
.section-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
}

/* Навигация */
.navigation {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 30px;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display:grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
}
.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 20px 17px;
}
.navigation-user {
  max-width:264px;
}
.navigation-user .navigation-link{
  min-height: 66px;
  min-width: 42px;
  padding: 0;
}
.navigation-user .navigation-item:last-child {
  margin-left: 20px;
}
.navigation-item {
  position: relative;
}
.page-header {
  margin: 0 70px;
}
.navigation-icon,
.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.navigation-logo {
  width: 139px;
  position: relative;
  z-index: 1;
  margin-bottom: -10px;
}
.navigation-btn {
  padding: 9px 34px;
}

/* Преимущества */
.advantages .section-description {
  line-height: 36px;
  margin-bottom: 80px;
}
.slogan {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}
.advantages .section-title {
  margin-top: 63px;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.advantage-item-large {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}
.advantage-item-wrapper {
  color:#FFFFFF;
  background-color: #83B3D3;
  display:grid;
  gap: 30px;
  padding: 98px 90px 87px;
  justify-items: center;
}
.advantage-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}
.advantage-list-inner {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}
.advantage-item-inner {
  display:grid;
  gap: 20px;
  padding: 184px 75px 87px;
}
.advantage-item {
  display:grid;
  gap: 30px;
  padding: 98px 80px 104px;
  justify-items: center;
}
.advantages-text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
}
.advantage-item-wrapper > .advantages-title {
  color:white;
}
.advantage-item:nth-child(odd),
.advantage-item-inner:nth-child(odd){
  background: rgba(131, 179, 211, 0.12);
}
.advantage-item:nth-last-child(2){
  background: rgba(131, 179, 211, 0.2);
}
.advantages-text {
  line-height: 21px;
}
.advantages-img {
  display: block;
  grid-column: span 2;
  object-fit: cover;
}
.advantages {
  background: url(img/indexbackground.jpg) top no-repeat;
}
.advantage-item-inner:first-child{
  background-image: url('img/icon/house.svg');
  background-repeat: no-repeat;
  background-position: left 163px top 89px;
}
.advantage-item-inner:nth-child(2){
  background-image: url('img/icon/burger.svg');
  background-repeat: no-repeat;
  background-position: left 163px top 91px;
}
.advantage-item-inner:nth-child(3){
  background-image: url('img/icon/gift.svg');
  background-repeat: no-repeat;
  background-position: left 168px top 85px;
}
/* Бронирование */
.search-button{
  font-size: 20px;
  line-height: 36px;
  display: block;
  margin: 0 auto;
  width: 575px;
  padding-top: 14px;
  padding-bottom: 10px;
  border-radius: 10px;
}
.booking {
  padding: 92px 0;
}
.booking .section-description {
  margin-bottom: 56px;
}
/* footer */
/* Подписка на рассылку */
.subscribe-inner .section-description {
  color:#333333
}
.subscribe-inner .section-title {
  margin-bottom: 46px;
}
.subscribe-inner input[type="email"]{
  background: #F2F2F2;
  border-radius: 0px 10px 10px 0px;
}
.subscribe-inner {
  padding-bottom: 141px;
}
.subscribe-main {
  background-image: url(img/backgroundfooter.jpg);
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  color: #ffffff;
  padding: 94px;
}
.subscribe-main .section-title {
  color: #ffffff;
}
.subscribe .section-description {
  margin-bottom: 46px;
}
.subscribe-form {
  display: flex;
  margin: 0 auto;
  width: 800px;
}
.subscribe-form input[type="email"] {
  flex-grow: 1;
  padding: 0;
  border:none;
}
.subscribe-form input[type="button"] {
  font-size: 20px;
  line-height: 26px;
  border-radius: 0px 10px 10px 0px;
  width: 200px;
  padding: 16px 0;
  font-stretch: condensed;
}
/* Контакты */
.footer-contacts {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  padding: 32px 62px;
  gap: 60px;
  justify-items: center;
  align-items:center;
}
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.social-item {
  position: relative;


}
.social-link {
  fill: #83B3D3;
  padding: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.social-item:last-child {
  margin-right: 0;
}
.footer-contact {
  margin: 0;
}
.footer-contacts-phone{
  text-decoration:none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-style: normal;
  padding: 15px;
}
.htmlacademy-link {
  display: block;
  box-sizing: border-box;
  padding: 10px;
}

/* catalog
main-inner */
.search-wrapper {
  background: url(img/catalog/catalogbackground.jpg) no-repeat;
  background-color:#756257;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 45px;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}
.inner-header {
  padding-top: 32px;
  padding-bottom: 40px;
  width: 1057px;
  margin: 0 auto;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.breadcrumbs-item {
  margin-right: 26px;
}
.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
/* Фильтр отелей */
.hotels-filter-title {
  font-size: 20px;
  line-height: 26px;
  padding-bottom: 30px;
}
.hotel-filter-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 13px;
}
.hotel-filter-item:last-child {
  margin-bottom: 0;
}
.control-input {
  margin-right: 19px;
}
input[type="number"] {
  background:none;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.hotels-filter-form {
  display: grid;
  gap: 17px;
  grid-template-columns: 200px 200px 1fr 160px;
}
.hotel-filter-group {
  border:none;
  padding: 0;
  margin: 0;
}
.hotels-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hotel-filter-price {
  margin-left: 96px;
  display: grid;
  grid-template-columns: 144px 144px;
}
.catalog-filter-label {
  display: grid;
  grid-template-columns: 112px 32px;
  max-height: 48px;
}
.catalog-filter-input {
  grid-column: 1/-1;
  z-index: 1;
  grid-row: -1;
}
.catalog-filter-label span {
  grid-column: 2/3;
  grid-row: -1;
  align-self: center;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.hotel-filter-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button-cancel {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  background:none;
  border:none
}
.hotels-filter {
  padding-bottom: 83px;
  width: 1057px;
  margin: 0 auto;
}
/* Сортировка отелей */
.sorting-hotels .section-title {
  line-height: 39px;
}
.sorting-hotels {
  display: grid;
  grid-template-columns: 1fr 287px max-content;
  gap: 80px;
  align-items: center;
  justify-items: start;
  margin: 0 auto;
  margin-bottom: 51px;
  width: 1057px;
}
.sorting-hotels .section-title {
  margin: 0;
}
.select {
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding: 12px 19px;
  width: 245px;
}
.sorting-hotels-buttons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.sorting-hotels-buttons  li {
  width: 48px;
  height: 48px;
  outline: 1px solid red;
  margin-right: 8px;
}
.sorting-hotels-buttons  li:last-child {
  margin-right: 0;
}

/* отели */
.hotels {
  width: 1057px;
  margin: 0 auto;
}
.hotels-list {
  list-style: none;
  margin: 0;
  padding:0;
  padding-bottom: 34px;
  border-bottom: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  row-gap: 10px;
}
.hotel-item {
  padding: 20px;
  display: grid;
  grid-template-columns: 133px 140px;
  grid-template-rows: repeat(4, auto);
  align-items: center;
  column-gap: 27px;
  row-gap: 15px;
}
.hotel-card-link {
  text-decoration: none;
  grid-column: 1/-1;
}
.hotel-card-image {
  margin-bottom: 16px;
}
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 0;
}
.hotel-card-type,
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
}
.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  margin: 0;
  padding: 10px 33px;
  grid-column: 1/-1;
  justify-self: end;
}
.hotel-card-button {
  padding: 9px;
}
/* Пагинация */
.pagination-show-more {
  display: block;
  width: 620px;
  margin: 30px auto;
  padding: 17px 0;
}
.pagination-wrapper {
  display: grid;
  grid-template-columns: max-content 299px 386px;
  width: 1057px;
  border-top: 1px solid #E6E6E6;
  padding-top: 30px;
  padding-bottom: 73px;
}
.pagination {
  display: grid;
  grid-template-columns: repeat(6, 55px);
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination-show-more,
.pagination-link {
  font-size: 20px;
  line-height: 26px;
}
.pagination-link {
  display: block;
  text-align: center;
  padding: 14px;
}
.pagination-current {
  background: #F2F2F2;
  border-radius: 4px;
}
.show-hotels {
  line-height: 23px;
  grid-column: 3/4;
  display: grid;
  grid-template-columns: 175px 160px;
  gap: 50px;
}
.show-hotels label {
  align-self: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* состояния элементов из стайлгайда */
.footer-contacts-phone:focus,
.htmlacademy-link:focus {
  outline: 3px solid #83B3D3;
  border-radius: 10px;
  color: #756257;
}
.navigation-link:hover,
.htmlacademy-link:hover,
.footer-contacts-phone:hover {
  fill:#756257;
  color: #756257;
  outline: none;
}
.navigation-link:active,
.htmlacademy-link:active,
.footer-contacts-phone:active  {
  fill: #756257;
  opacity: 0.3;
  color: rgba(117, 98, 87);
  outline: none;
}
.navigation-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  padding: 20px 17px;
}
.navigation-link-current::before {
  content: '';
  background-color:#756257;
  position: absolute;
  right: 16px;
  top: 45px;
  left: 17px;
  height: 2px;
}
.btn-brown:focus{
  outline: 3px solid #83B3D3;
}
.btn-brown:hover {
  background-color: #615048;
  outline: none;
}
.btn-brown:active{
  background-color: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}
.social-link:focus{
  outline: 3px solid #83B3D3;
  border-radius: 10px;
}
.social-link:hover{
  fill: #68A2CA;
  outline: none;
}
.social-link:active {
  fill: #68A2CA;
  opacity: 0.3;
  outline: none;
}
input[type="button"]:focus{
  outline: 3px solid #756257;
}
input[type="button"]:hover{
  background-color: #68A2CA;
}
input[type="button"]:active{
  background-color: #68A2CA;
  color: rgba(255, 255, 255, 0.3);
}

